In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.describe()

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year
count,1890.000000,1.890000e+03,1.890000e+03,1890.000000,1890.000000,1890.000000,1890.000000
mean,1.560611,5.450696e+07,1.552890e+08,109.653439,785.666667,6.140899,2007.861905
std,1.849471,4.931705e+07,2.146386e+08,18.013641,1068.725880,0.764584,4.467929
min,0.010335,5.000000e+06,2.033165e+06,63.000000,10.000000,3.300000,2000.000000
25%,0.643284,2.000000e+07,3.434007e+07,97.000000,164.000000,5.600000,2004.000000
50%,1.065065,3.800000e+07,8.358664e+07,106.500000,389.000000,6.100000,2008.000000
75%,1.804537,7.200000e+07,1.782136e+08,120.000000,937.750000,6.600000,2012.000000
max,32.985763,4.250000e+08,2.781506e+09,214.000000,9767.000000,8.100000,2015.000000

In [13]:
data.sort_values('income', ascending=True).head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
491,tt1032751,0.250540,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431
1246,tt1210819,1.214510,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090
1617,tt0318974,0.948560,145000000,25819961,The Alamo,Dennis Quaid|Billy Bob Thornton|Jason Patric|P...,John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,Western|History|War,Imagine Entertainment|Touchstone Pictures,4/7/2004,60,5.9,2004,-119180039
810,tt1305591,0.921653,150000000,38992758,Mars Needs Moms,Seth Green|Joan Cusack|Dan Fogler|Breckin Meye...,Simon Wells,Mom needs a little space.,"When Martians suddenly abduct his mom, mischie...",88,Adventure|Animation|Family,Walt Disney Animation Studios,3/9/2011,129,5.5,2011,-111007242
959,tt0180052,0.912373,100000000,7103973,The Adventures of Pluto Nash,Eddie Murphy|Randy Quaid|Rosario Dawson|Joe Pa...,Ron Underwood,Action's future has arrived...,"The year is 2087, the setting is the moon. Edd...",95,Action|Comedy|Science Fiction,Village Roadshow Pictures|Castle Rock Entertai...,8/15/2002,75,4.6,2002,-92896027

In [8]:
data.runtime.mean()

109.65343915343915

In [9]:
data.runtime.median()

106.5

In [11]:
data['income'] = data.revenue - data.budget

In [14]:
data[data.income > 0].count()

imdb_id                 1478
popularity              1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_count              1478
vote_average            1478
release_year            1478
income                  1478
dtype: int64

In [19]:
data.query('2012 <= release_year <= 2014').sort_values('income', ascending=True)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
1246,tt1210819,1.214510,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090
1215,tt0790736,1.689869,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,876,5.3,2013,-68351500
1008,tt1374992,1.690572,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,695,6.1,2012,-51893525
1303,tt0884726,0.354271,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,36,6.1,2013,-51337973
1236,tt1308729,1.319947,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,347,5.2,2013,-45510171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190,tt1690953,3.928789,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,6/25/2013,3436,7.0,2013,894761885
975,tt1074638,5.603587,200000000,1108561013,Skyfall,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...,Sam Mendes,Think on your sins.,When Bond's latest assignment goes gravely wro...,143,Action|Adventure|Thriller,Columbia Pictures,10/25/2012,6137,6.8,2012,908561013
1181,tt1300854,4.946136,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Shane Black,Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,4/18/2013,6882,6.9,2013,1015439994
1178,tt2294629,6.112766,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/27/2013,3369,7.5,2013,1124219009
971,tt0848228,7.637767,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,8903,7.3,2012,1299557910

In [20]:
data.genres = data.genres.apply(lambda g: g.split('|'))

In [21]:
data.genres

0       [Action, Adventure, Science Fiction, Thriller]
1       [Action, Adventure, Science Fiction, Thriller]
2               [Adventure, Science Fiction, Thriller]
3        [Action, Adventure, Science Fiction, Fantasy]
4                            [Action, Crime, Thriller]
                             ...
1885              [Adventure, Action, Science Fiction]
1886                         [Horror, Family, Foreign]
1887    [Adventure, Animation, Action, Comedy, Family]
1888                                   [Comedy, Drama]
1889                                        [Thriller]
Name: genres, Length: 1890, dtype: object

In [23]:
from collections import Counter
c = Counter()

In [24]:
data.genres.map(lambda x: c.update(x))

0       None
1       None
2       None
3       None
4       None
        ...
1885    None
1886    None
1887    None
1888    None
1889    None
Name: genres, Length: 1890, dtype: object

In [25]:
c.most_common()

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 597),
 ('Action', 583),
 ('Adventure', 416),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 223),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 20),
 ('Documentary', 8),
 ('Foreign', 2)]

In [27]:
data.director.value_counts()

Steven Soderbergh            13
Ridley Scott                 12
Clint Eastwood               12
Shawn Levy                   10
Steven Spielberg             10
                             ..
Olatunde Osunsanmi            1
Steve McQueen                 1
Elizabeth Allen Rosenbaum     1
Dewey Nicks                   1
Davis Guggenheim              1
Name: director, Length: 958, dtype: int64

In [28]:
c2 = Counter()

In [30]:
data[data.income > 0].genres.map(lambda x: c2.update(x))

0       None
1       None
2       None
3       None
4       None
        ...
1872    None
1876    None
1878    None
1884    None
1885    None
Name: genres, Length: 1478, dtype: object

In [32]:
c2.most_common()

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337),
 ('Romance', 242),
 ('Crime', 231),
 ('Family', 226),
 ('Science Fiction', 195),
 ('Fantasy', 188),
 ('Horror', 150),
 ('Animation', 120),
 ('Mystery', 119),
 ('Music', 47),
 ('History', 46),
 ('War', 41),
 ('Western', 12),
 ('Documentary', 7)]

In [33]:
data[data.income > 0].director.value_counts()

Ridley Scott         12
Steven Spielberg     10
Clint Eastwood       10
Steven Soderbergh    10
Shawn Levy            9
                     ..
Lars von Trier        1
Hoyt Yeatman          1
Pete Travis           1
Brad Silberling       1
Samuel Bayer          1
Name: director, Length: 774, dtype: int64

In [35]:
data.groupby('director').sum()['income'].sort_values()

director
Sngmoo Lee               -413912431
James L. Brooks           -96289726
Ron Underwood             -92896027
Peter Hyams               -86956545
David Bowers|Sam Fell     -84540684
                            ...
Michael Bay              2760938960
J.J. Abrams              2839169916
Christopher Nolan        3162548502
David Yates              3379295625
Peter Jackson            5202593685
Name: income, Length: 958, dtype: int64

In [36]:
data.cast = data.cast.apply(lambda x: x.split('|'))

In [37]:
c3 = Counter()

In [39]:
for x, r in enumerate(data):
    print(r)
    if x > 10:
        break

imdb_id
popularity
budget
revenue
original_title
cast
director
tagline
overview
runtime
genres
production_companies

In [52]:
for r in data[['cast', 'income']].iterrows():
    c3.update({a: r[1][1] for a in r[1][0]})

In [182]:
c3.most_common(1)

[('Emma Watson', 6666245597)]

In [55]:
c4 = Counter()

In [56]:
for r in data[data.release_year == 2012][['cast', 'income']].iterrows():
    c4.update({a: r[1][1] for a in r[1][0]})

In [81]:
c4.most_common(1)

[('Chris Hemsworth', 1542450773)]

In [59]:
c5 = Counter()

In [61]:
data[data.budget > data.budget.mean()].cast.map(c5.update)

0       None
1       None
2       None
3       None
4       None
        ...
1871    None
1873    None
1876    None
1885    None
1887    None
Name: cast, Length: 672, dtype: object

In [80]:
c5.most_common(1)

[('Matt Damon', 18)]

In [64]:
c6 = Counter()
data[data.cast.map(lambda x: 'Nicolas Cage' in x)].genres.map(c6.update)

168     None
276     None
330     None
336     None
386     None
392     None
688     None
728     None
765     None
785     None
826     None
834     None
915     None
922     None
1034    None
1225    None
1281    None
1347    None
1391    None
1474    None
1510    None
1569    None
1676    None
1684    None
1723    None
1819    None
1839    None
Name: genres, dtype: object

In [66]:
c6.most_common()

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8),
 ('Adventure', 7),
 ('Comedy', 6),
 ('Science Fiction', 4),
 ('Mystery', 3),
 ('Animation', 3),
 ('Family', 3),
 ('History', 2),
 ('War', 1),
 ('Horror', 1),
 ('Romance', 1)]

In [68]:
data.production_companies = data.production_companies.apply(lambda x: x.split('|'))

In [69]:
c7 = Counter()

In [70]:
data.production_companies.map(c7.update)

0       None
1       None
2       None
3       None
4       None
        ...
1885    None
1886    None
1887    None
1888    None
1889    None
Name: production_companies, Length: 1890, dtype: object

In [79]:
c7.most_common(1)

[('Universal Pictures', 173)]

In [72]:
c8 = Counter()
data[data.release_year == 2015].production_companies.map(c8.update)

0      None
1      None
2      None
3      None
4      None
       ...
113    None
114    None
115    None
116    None
117    None
Name: production_companies, Length: 118, dtype: object

In [74]:
c8.most_common(1)

[('Warner Bros.', 12)]

In [82]:
c9 = Counter()
for r in data[data.genres.map(lambda x: 'Comedy' in x)][['production_companies', 'income']].iterrows():
    c9.update({a: r[1][1] for a in r[1][0]})

In [83]:
c9.most_common(1)

[('Universal Pictures', 8961545581)]

In [86]:
c10 = Counter()
for r in data[data.release_year == 2012][['production_companies', 'income']].iterrows():
    c10.update({a: r[1][1] for a in r[1][0]})
c10.most_common(1)

[('Columbia Pictures', 2501406608)]

In [88]:
data[data.production_companies.map(lambda x: 'Paramount Pictures' in x)].groupby('original_title').sum()['income'].sort_values()

original_title
K-19: The Widowmaker                                  -64831034
Timeline                                              -60519261
Next                                                  -51788987
Alfie                                                 -46604061
Twisted                                               -24805000
                                                        ...
Mission: Impossible - Ghost Protocol                  549713380
Transformers                                          559709780
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Transformers: Revenge of the Fallen                   686297228
Transformers: Dark of the Moon                        928746996
Name: income, Length: 122, dtype: int64

In [91]:
data.groupby('release_year').sum()['income'].sort_values()

release_year
2000     6101399805
2001     7950614865
2006     8691077320
2005     8981925558
2002     9002361487
2003     9228823312
2004     9634180720
2007    11565911801
2008    11663881990
2010    13117292530
2009    13423744372
2011    14730241341
2013    15243179791
2012    16077001687
2014    16397812953
2015    18668572378
Name: income, dtype: int64

In [97]:
data[data.production_companies.map(lambda x: 'Warner Bros.' in x)].groupby('release_year').sum()['income'].sort_values()

release_year
2000     471305068
2006     614989614
2015     870368348
2002    1072248589
2012    1258020056
2001    1428174853
2005    1551980298
2013    1636453400
2004    1675125175
2009    1833481628
2010    1853128844
2003    1855493377
2011    1871393682
2014    1886303827
2008    2134595031
2007    2167367993
Name: income, dtype: int64

In [104]:
data[data.production_companies.map(lambda x: 'Warner Bros.' in list(map(str.strip, x)))].groupby('release_year').sum()['income'].sort_values()

release_year
2000     471305068
2006     614989614
2015     870368348
2002    1072248589
2012    1258020056
2001    1428174853
2005    1551980298
2013    1636453400
2004    1675125175
2009    1833481628
2010    1853128844
2003    1855493377
2011    1871393682
2014    1886303827
2008    2134595031
2007    2167367993
Name: income, dtype: int64

In [109]:
data['release_month'] = data.release_date.apply(lambda x: int(x.split('/')[0]))

In [111]:
data.groupby('release_month').count().sort_values('imdb_id')

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income
release_month,,,,,,,,,,,,,,,,,
1,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110
2,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135
5,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140
7,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142
11,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146
6,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147
4,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149
3,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156
8,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161
10,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186
12,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191
9,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227

In [112]:
data.query('6 <= release_month <= 8').count()

imdb_id                 450
popularity              450
budget                  450
revenue                 450
original_title          450
cast                    450
director                450
tagline                 450
overview                450
runtime                 450
genres                  450
production_companies    450
release_date            450
vote_count              450
vote_average            450
release_year            450
income                  450
release_month           450
dtype: int64

In [115]:
data.query('release_month in [1, 2, 12]').groupby('director').count()['imdb_id'].sort_values()

director
Aaron Seltzer|Jason Friedberg    1
McG                              1
Matthew Vaughn                   1
Matthew O'Callaghan              1
Matt Reeves                      1
                                ..
Adam Shankman                    4
Shawn Levy                       4
Steven Soderbergh                6
Clint Eastwood                   6
Peter Jackson                    7
Name: imdb_id, Length: 333, dtype: int64

In [127]:
data.pivot_table(index='release_year', columns='release_month', values='income', aggfunc='sum').rank(axis=1).sum()

release_month
1      30.0
2      60.0
3      98.0
4      79.0
5     161.0
6     160.0
7     129.0
8      70.0
9      77.0
10     96.0
11    131.0
12    157.0
dtype: float64

In [128]:
data['namelen'] = data.original_title.apply(lambda x: len(x))

In [185]:
from collections import defaultdict
names = defaultdict(list)
for r in data[['production_companies', 'namelen']].iterrows():
    for c in r[1][0]:
        names[c].append(r[1][1])
result = []
for k, v in names.items():
    alen = sum(v) / len(v)
    result.append((alen, "%s: %s" % (k, alen)))
result.sort(reverse=True)
for l, t in result[:10]:
    print(t)

Four By Two Productions: 83.0
Jim Henson Company, The: 59.0
Dos Corazones: 47.0
Polsky Films: 46.0
Museum Canada Productions: 46.0
The Saul Zaentz Company: 43.0
Lucasfilm: 41.5
Zohar International: 41.0
Total Entertainment: 41.0
TSBD Canada Productions: 41.0

In [186]:
from collections import defaultdict
names = defaultdict(list)
for r in data[['production_companies', 'original_title']].iterrows():
    for c in r[1][0]:
        names[c].append(len(r[1][1].split(' ')))
result = []
for k, v in names.items():
    alen = sum(v) / len(v)
    result.append((alen, "%s: %s" % (k, alen)))
result.sort(reverse=True)
for l, t in result[:10]:
    print(t)

Four By Two Productions: 12.0
Jim Henson Company, The: 10.0
The Saul Zaentz Company: 9.0
Polsky Films: 9.0
Dos Corazones: 9.0
Zohar International: 8.0
Total Entertainment: 8.0
TSBD Canada Productions: 8.0
Museum Canada Productions: 8.0
Lucasfilm: 8.0

In [141]:
words = set()
for r in data[['original_title']].iterrows():
    words.update(map(str.lower, r[1][0].split(' ')))
len(words)

2462

In [148]:
data.popularity.value_counts(bins=100).sort_index()

(-0.0236, 0.34]     134
(0.34, 0.67]        370
(0.67, 1.0]         367
(1.0, 1.329]        293
(1.329, 1.659]      200
                   ...
(31.337, 31.667]      0
(31.667, 31.997]      0
(31.997, 32.326]      0
(32.326, 32.656]      0
(32.656, 32.986]      1
Name: popularity, Length: 100, dtype: int64

In [155]:
data.sort_values('vote_average', ascending=False).head(10)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,income,release_month,namelen
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",7/16/2008,8432,8.1,2008,816921825,7,15
125,tt2084970,8.110711,14000000,233555708,The Imitation Game,"[Benedict Cumberbatch, Keira Knightley, Matthe...",Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,"[History, Drama, Thriller, War]","[Black Bear Pictures, Bristol Automotive]",11/14/2014,3478,8.0,2014,219555708,11,18
9,tt2096673,6.326804,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,"[Comedy, Animation, Family]","[Walt Disney Pictures, Pixar Animation Studios...",6/9/2015,3935,8.0,2015,678708609,6,10
118,tt0816692,24.949134,165000000,621752480,Interstellar,"[Matthew McConaughey, Jessica Chastain, Anne H...",Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,"[Adventure, Drama, Science Fiction]","[Paramount Pictures, Legendary Pictures, Warne...",11/5/2014,6498,8.0,2014,456752480,11,12
34,tt3170832,3.557846,6000000,35401758,Room,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean...",Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,"[Drama, Thriller]","[Element Pictures, No Trace Camping, A24, Dupe...",10/16/2015,1520,8.0,2015,29401758,10,4
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema]",12/1/2003,5636,7.9,2003,1024888979,12,45
873,tt0253474,2.364204,35000000,120072577,The Pianist,"[Adrien Brody, Thomas Kretschmann, Frank Finla...",Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,"[Drama, War]","[Bac Films, Canal+Polska, Heritage Films, Stud...",9/24/2002,938,7.9,2002,85072577,9,11
1801,tt0209144,3.095625,9000000,39723096,Memento,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,"[Mystery, Thriller]","[Summit Entertainment, Newmarket Capital Group...",10/11/2000,2144,7.9,2000,30723096,10,7
1192,tt2024544,3.625529,20000000,187000000,12 Years a Slave,"[Chiwetel Ejiofor, Michael Fassbender, Lupita ...",Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,"[Drama, History]","[Plan B Entertainment, Regency Enterprises, Ri...",10/18/2013,2241,7.9,2013,167000000,10,16
128,tt2267998,6.438727,61000000,369330363,Gone Girl,"[Ben Affleck, Rosamund Pike, Carrie Coon, Neil...",David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,"[Mystery, Thriller, Drama]","[Twentieth Century Fox Film Corporation, Regen...",10/1/2014,3720,7.9,2014,308330363,10,9

In [ ]:
d1 = data.groupby('director')

In [157]:
data[data.cast.map(lambda x: 'Johnny Depp' in x and 'Helena Bonham Carter' in x)].imdb_id.count()

6

In [158]:
data[data.cast.map(lambda x: 'Hugh Jackman' in x and 'Ian McKellen' in x)].imdb_id.count()

5

In [159]:
data[data.cast.map(lambda x: 'Vin Diesel' in x and 'Paul Walker' in x)].imdb_id.count()

5

In [160]:
data[data.cast.map(lambda x: 'Adam Sandler' in x and 'Kevin James' in x)].imdb_id.count()

5

In [161]:
data[data.cast.map(lambda x: 'Daniel Radcliffe' in x and 'Rupert Grint' in x)].imdb_id.count()

8

In [188]:
d = data.groupby('director').apply(lambda x: sum(x['income'] > 0)/x['income'].count()).sort_values(ascending=False)
d

director
Joss Whedon         1.0
Jeff Wadlow         1.0
Jim Field Smith     1.0
Jim Fall            1.0
Jessie Nelson       1.0
                   ...
Saul Dibb           0.0
Scott Walker        0.0
Edgar Wright        0.0
E. Elias Merhige    0.0
Zal Batmanglij      0.0
Length: 958, dtype: float64

In [181]:
d['Quentin Tarantino']

1.0